.row
  .col-md-6
    %table.table.table-condensed
      %th Username
      %td #{@user.username}
      %tr

      %th Full Name
      %td #{@user.full_name}
      %tr

      %th Email
      %td #{@user.email}
      %tr

      %th Full Address
      %td #{@user.full_address}
      %tr

      %th Birthday
      %td #{@user.birthday.try(:to_date).to_s}
      %tr

      %th Role
      %td #{@user.roles.last.name.capitalize}
      %tr

    - if current_user and current_user.has_role? :admin
      = link_to "Edit", edit_user_path(@user), class: 'btn btn-default'
      = link_to "Delete", @user, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'

  .col-md-6
    = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}"
