!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bulletin Board
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = link_to "Bulletin Board", root_path, class: "navbar-brand"
        %ul.navbar-nav.nav
          - if user_signed_in?
            %li= link_to "New Message", new_message_path
          %li= link_to "Users", users_path

          = form_tag messages_path, :method => 'get', class: 'navbar-form navbar-left' do
            .form-group
              = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search...'

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to "Profile", edit_user_registration_path
            %li= link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            %li= link_to "Sign Up", new_user_registration_path
            %li= link_to "Log In", new_user_session_path
            %li= link_to "Sign In", user_omniauth_authorize_path(:twitter), class: "fa fa-twitter"
    .container
      = flash_messages
      = yield
